<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<MendicantConfig>

   <!--
      &#xA; = newline
      &gt; = >
      &lt; = <
   -->

   <!-- Sources (from the haloruns website) -->
   <StreamsSource>https://haloruns.com/content/feeds/streamList.json</StreamsSource>
   <RecordsSource>https://haloruns.com/content/feeds/latestRecords.json</RecordsSource>
   <OldestSource>https://haloruns.com/content/boards/oldest.json</OldestSource>

   <!-- Discord channel IDs -->
   <NotifsChannelId>491719347929219072</NotifsChannelId>
   <RecordsChannelId>600075722232692746</RecordsChannelId>
   <TestChannelId>818617029011177492</TestChannelId> <!-- Wackee's test channel -->

   <!-- Default streams channel text -->
   <InfoText> To appear on the HaloRuns stream tracker, link your Twitch account at https://haloruns.com/ &#xA;For a list of terms that will automatically hide your stream from being shown here (if you are not speedrunning or would prefer to have your stream hidden) you can use the .nohr command anywhere in the server, or DM me directly!&#xA;You can now also toggle your stream visibility from your HaloRuns Profile!</InfoText>
   <NoStreamsText>Nobody is currently streaming&lt;:NotLikeThis:257718094049443850&gt;</NoStreamsText>
   <CurrentlyLiveText>CURRENTLY LIVE:&#xA;- - - - - - - - - - - - -</CurrentlyLiveText>

   <!-- List of nohr terms to hide a channel from live-streams (comma separated list) -->
   <NoHr>[nosrl],[nosrg],[nohr],[no hr],mlg,custom,matchmaking,multiplayer,spartan ops,forge,mm,mp,1v1,2v2,3v3,4v4,5v5,6v6,7v7,8v8,warzone,multi,swat,snipers,doubles,slayer,firefight,challenges,achievements</NoHr>

   <!-- List of commands that the bot will respond to -->
   <!-- NOTE: Commands are case insensitive -->
   <Commands>
      <command id=".points">
         <exec>points</exec>
      </command>

      <command id=".calc">
         <exec>calc</exec>
      </command>

      <command id=".nohr">
         <exec>nohr</exec>
      </command>

      <command id=".rules">
         <embed>[Rules Page](https://haloruns.com/rules)\n[H2 Timing Video Guide](https://youtu.be/1DT7XwIDrwE)\n[Coop Forum Posts](https://haloruns.com/forums?t=595)\nPlease read the posts carefully, and ask question if you need some clarification</embed>
      </command>

      <command id=".sc_fling">
         It is known. It skips the plasmas from Goldie so its not really worth. It would save time in coop or if you picked up plasmas before the fling.
      </command>

      <command id=".scarab_deload">
         If you reach the top of the stairs between 1:14 and 1:20 from the Scarab's initial spawn, it will deload. Full explanation at https://www.youtube.com/watch?v=j9fgKI74dwo
      </command>

      <command id=".storm">
         The Storm (Halo 3) on the Easy difficulty is the greatest level (IL) to speedrun. The combat is perfect, (no rng) the movement is clean, you get help from your allies, (marines) and you get to do a cool skip! (Scarab skip) Then you WALK for 40 seconds to the end and do a cross map shot to end the level. (The Storm) How could anyone think that this level, (The Storm) is bad? It's my favorite level, (IL) in the entire game! (Halo 3)
      </command>

      <command id=".craig">
         What.  The.  FUCK?!?!  34HeadFuckin3 has yet again come out with ANOTHER goddamn update, and what did it do you ask?  ODST is now on pc.  Fucking brilliant, of all thing, that's what gets added??  NO.  ONE.  CARES!!!  BUT WAIT!! That's not all...not only did they add something that no one give a rat's ass about, but whadaya know?  THEY FUCKED UP SHIT IN MY HALO 3 SPEEDRUN™!!!  The AI is busted to all hell.  I have put over 50,000 goddamn hours into this shit, AND THEY GO AHEAD AND PUT FUCKING CRAIG IN THE GODDAMN JETPACK CLEAR?!?!?  Do they not realize how important EVERY SECOND is on the easy difficulty??  Every mother fucking AI now has 2Head levels on mechanics, my fucking hermit crab could program a better code.  Fucks sake 343, every fucking record on HaloRuns™ is now impossible to beat because of your incompetent team of high school dropouts.  Fuck you.
      </command>

      <command id=".scoped">
         Scoped flies are different than unscoped; read: https://discordapp.com/channels/83061848139632640/293842240529235968/727967537114906657
      </command>

      <command id=".keyes">
         Keyes midroll cutscene is not timed by MCC, and takes 43-44 seconds  - please add that to your PGCR (Post-Game Carnage Report) for an approximation, and manually re-time your RTA before submitting a fake world record :)
      </command>
   </Commands>

</MendicantConfig>
